echo |Num0 = Kapalı
echo |Num1 = Psychorot
echo |Num2 = Gores
echo |Num3 = DummyDeepFly
echo |Num4 = DummyFly
echo |Num8 = FPS Göster
echo |Num9 = FPS Kapat
echo |9 = Hareketler Sert
echo |0 = Hareketler Yumuşak


#Extralardan ekledikleriniz var ise komutun başındaki "+" simkesini silip eklediğiniz tuşu yazınız


+echo |TUŞ = Dummy Bağlar
+echo |TUŞ = Dummy Çıkarır
+echo |TUŞ = Takımı Kilitler
+echo |TUŞ = Ekranı Yakınlaştırır
+echo |TUŞ = Ekranı Uzaklaştırır
+echo |TUŞ = Ekran Uzaklığını Normal Yapar
+echo |TUŞ = Cross sabitler